.section {
  background-color: #ffffff;
  padding: 1em 2em;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.section:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.detail-linkWrapper:hover,
.detail-linkWrapper:focus {
  color: #000000;
  text-decoration: none;
}
