.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 6em);
}

.section.section--details:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.article-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.article-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--details__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
