/* ====================
  Typography
==================== */
.header__title {
  text-align: center;
  line-height: 1;
}

/* ====================
  Layout
==================== */
.wrapper {
  padding: 1em;
}
