*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

/* ====================
  Typography
==================== */
h1,
h2,
p {
  margin-top: 0;
}

h1,
h2 {
  font-family: 'Gentium Basic', serif;
}

.header-title {
  text-align: center;
  line-height: 1;
}

/* ====================
  Layout
==================== */
.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex-ml {
  display: flex;
}

.d-flex-ml > * + * {
  margin-left: 2em;
}

.section + .section {
  margin-top: 1em;
}

@media (min-width: 625px) {
  .section + .section {
    margin-top: 0;
  }
}
